.modal__open.modal {
  display: block;
  opacity: 1;
}

.modal__close {
  display: none;
  opacity: 0;
}

.overlay {
  background: url("../assets/IMG_0378-min.JPG") no-repeat bottom center fixed;
  -webkit-filter: grayscale(100%);
  z-index: -1;
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-content {
  box-shadow: 0px 0 2px 0px black;
  background-color: white;
}

.header__link {
  text-decoration: none;
  font-size: 16px;
}

.slide {
  margin-left: -12px;
  margin-right: -12px;
}

.slider-background {
  background-color: #f5c116;
  width: 100%;
  height: 400px;
}

.hero {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25px 0 25px;
}
.hero__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
.hero__text {
  color: white;
  line-height: 20px;
}
.hero__btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  padding: 4px 24px 4px 24px;
}

.feature__text {
  font-size: 14px;
  color: #b4b3b3;
  padding-top: 10px;
}

.gallery__item {
  border-bottom: 4px solid #f5c116;
  margin-top: 18px;
  height: 296px;
}
.gallery__image {
  width: 100%;
  height: 292px;
  object-fit: cover;
  filter: grayscale(100%);
}

.partners__item {
  border: 2px solid rgba(197, 196, 196, 0.432);
  border-radius: 4px;
  text-align: center;
  height: 100%;
  padding: 0 10px 0 10px;
}

.partners__logo {
  width: 100%;
  padding: 0px;
  filter: grayscale(100%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  background-color: #272831;
  color: rgba(255, 255, 255, 0.267);
}
.footer__column-title {
  color: rgba(255, 255, 255, 0.267);
}
.footer__column-text {
  font-size: 12px;
}
.footer__column-subtitle {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.562);
  font-weight: 700;
}
.footer-gallery__image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: 4px;
}

.logo-placeholder {
  width: 150px;
  height: 50px;
  background-color: #f5c116;
}

.copy-panel {
  background-color: #1f1f25;
}
.copy-panel__socials {
  color: #272831;
  text-align: center;
}
.copy-panel__socials-icon {
  font-size: 32px;
  padding: 0 5px 0 5px;
}
.copy-panel__credits {
  text-align: center;
}

.mobile__frame {
  position: relative;
  top: 160px;
  left: 50%;
  background: url("../assets/phone-frame.png") no-repeat;
  background-size: cover;
  width: 150px;
  height: 250px;
  z-index: 10;
}
.mobile__image {
  width: 140px;
  height: 220px;
  position: relative;
  top: 28px;
  left: 5px;
  object-fit: cover;
  filter: grayscale(100%);
}

.tablet__frame {
  position: absolute;
  top: 100px;
  left: 65%;
  background: url("../assets/tablet-frame.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 300px;
  z-index: 1;
}

.tablet__image {
  width: 195px;
  height: 250px;
  position: relative;
  top: 28px;
  left: 14px;
  object-fit: cover;
  filter: grayscale(100%);
}

.contact__baner {
  height: 200px;
  background-color: #f5c116;
  margin: 0 -12px 0 -12px;
}

.map {
  margin: 0 -12px 0 -12px;
}
.map__iframe {
  width: 100%;
  height: 400px;
}

.contact__title {
  font-size: 22px;
  font-weight: 700;
  color: blac;
}

.contact-form__btn {
  background-color: #f5c116;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px 20px 4px 20px;
}

.form-control:focus {
  border-color: #f5c116;
  box-shadow: 0 0 0 0.25rem rgba(245, 193, 22, 0.25);
}

.contact-socials {
  font-size: 40px;
}

.blog-card {
  padding-bottom: 54px;
}
.blog-card__title {
  font-weight: 700;
  font-size: 24px;
}
.blog-card__info {
  font-size: 12px;
  display: flex;
  color: rgba(102, 100, 100, 0.767);
}
.blog-card__image {
  filter: grayscale(100%);
}

.blog-menu__title {
  font-weight: 700;
}

.blog-categories {
  list-style-type: none;
}
.blog-categories > li {
  border-bottom: 1px solid rgba(167, 167, 167, 0.767);
  padding: 10px 0 10px 0;
  margin-right: 20px;
  margin-left: -20px;
}
.blog-categories > li:last-child {
  border: none;
}

.blog-menu__recent-post-img {
  filter: grayscale(100%);
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .copy-panel__credits {
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
  }

  .hero {
    position: relative;
    top: 0;
    transform: translateY(30%);
    padding: 0 0px 0 25px;
    flex: 0.6;
  }
}
@media (min-width: 992px) {
  .blog-menu__title {
    font-size: 18px;
  }

  .blog-card__title {
    font-size: 34px;
  }
  .blog-card__info {
    font-size: 16px;
  }

  .footer-gallery__image {
    width: 65px;
    height: 65px;
  }

  .copy-panel {
    margin: 0 -40px 0 -40px;
  }
  .copy-panel__credits {
    font-size: 12px;
    justify-content: space-evenly;
    align-items: center;
  }

  .slide {
    margin: 0 -40px 0 -40px;
  }

  .main-content {
    padding: 0 40px 0 40px;
  }

  .slider-background {
    height: 550px;
  }

  .hero {
    position: relative;
    top: 0;
    transform: translateY(50%);
    margin-left: 50px;
    flex: 0.6;
  }
  .hero__title {
    font-size: 66px;
    font-weight: 700;
    line-height: 58px;
  }
  .hero__text {
    font-size: 21px;
    color: white;
    line-height: 24px;
  }
  .hero__btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    font-weight: 700;
    padding: 5px 54px 6px 54px;
  }

  .mobile__frame {
    position: relative;
    top: 270px;
    left: 50%;
    background: url("../assets/phone-frame.png") no-repeat;
    background-size: cover;
    width: 180px;
    height: 280px;
    z-index: 10;
  }
  .mobile__image {
    width: 167px;
    height: 250px;
    position: relative;
    top: 34px;
    left: 7px;
    object-fit: cover;
    filter: grayscale(100%);
  }

  .tablet__frame {
    position: absolute;
    top: 100px;
    left: 65%;
    background: url("../assets/tablet-frame.png") no-repeat;
    background-size: cover;
    width: 400px;
    height: 450px;
    z-index: 1;
  }

  .tablet__image {
    width: 338px;
    height: 400px;
    position: relative;
    top: 49px;
    left: 30px;
    object-fit: cover;
    filter: grayscale(100%);
  }

  .header__navigation {
    justify-content: flex-end;
    margin-right: 40px;
  }

  .header__link {
    margin-right: 12px;
  }

  .map {
    margin: 0 -40px 0 -40px;
  }

  .contact__baner {
    margin: 0 -40px 0 -40px;
  }
}

/*# sourceMappingURL=main.css.map */
